*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

main{
    background-color: black;
}

.meeting_view{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.cell,
.maximize{
    background-color: rgb(90, 87, 87);
    padding: 5px;
    border-radius: 5px;
    margin: 0 0.25rem;
}


.container{
    width: 80%;
    
    margin: 0 auto;
    padding: 4rem 0 2rem;
} 

.taking_part{
    display: flex;
}

.participant{
    width: calc((100% / 12)* 7);
}

.member{
    margin: 2px;
    display: inline-block;
    position: relative;
}

.member .username{
    position: absolute;
    left: 0;
    bottom: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 5px;
}
