*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
}

img{
    max-width: 100%;
}

main{
    background-color: black;
}

.meeting_view{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.cell,
.maximize{
    background-color: #4a4a4a;
    padding: 5px;
    border-radius: 5px;
    margin: 0 0.25rem;
}


.container{
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0 2rem;
} 

.taking_part{
    display: flex;
}

.participant{
    width: calc((100% / 12)* 7);
}

.member{
    margin: 2px;
    display: inline-block;
    position: relative;
}

.member .username{
    position: absolute;
    left: 0;
    bottom: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 5px;
}

footer{
    background-color: #222222;
}

nav{
    display: flex;
    justify-content: space-between;
}

.share .icon{
    color: #4BC800;
}

.share p{
    color: white;
}

.settings,
.microphone,
.webcam{
    display: flex;
}

.microphone,
.webcam{
    padding: 0.5rem;
}

.icon{
    text-align: center;
    padding-right: 0.5rem;
}

.chevron{
    align-self: center;
}

.commands,
.commands .share{
    display: flex;
}

.command{
    padding: 0.5rem;
}


.end_meeting{
    color: red;
    background-color: #4a4a4a;
    padding: 5px;

}
